body{
	background: url(../images/book-cover.jpg) no-repeat center center fixed;
	background-size: 100% 100%;


}
#book{
	height: 400px;
	width: 300px;
}


.card{
	height: 360px;
	width: 450px;
	overflow-y: scroll;
}

#logo{
	height: 100px;
	width: 100px;
}
